<h1>Stupid Coaching</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <form action="/answer" method="get">
      <p>Ask your coach anything</p>
      <input type="text" name="question" placeholder="What?">
      <input type="submit" value="Ask" class="btn btn-primary btn-md my_button">
    </form>
    </div>
  </div>
</div>
